.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  mat-card {
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background-color: #b08fcf;
    border-radius: 5%;
  }
  
  mat-card-header {
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
  }
  
  mat-card-title {
    font-size: 24px;
 
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  button {
    width: 100%;
    margin: 5px;
  }
  
  mat-card-actions {
    justify-content: center;
  }
  
  @media (max-width: 600px) {
    mat-card {
      width: 95%;
    }
  }

  
  
  