<div class="contenedor-modal">
    @if(isUpdate === false){
        <h2 mat-dialog-title>Registrar gasto</h2>
    } @else {
         <h2 mat-dialog-title>Actualizar gasto</h2>
    }
    
    <mat-dialog-content>

    <form [formGroup]="expenseForm">
        <div class="mt-3 row">
            <mat-form-field appearance="outline">
                <mat-label>Cantidad:</mat-label>
                <input placeholder="0" matInput type="text" maxlength="8" formControlName="expense"  (input)="onExpenseInput($event)"  />

            @if (expenseForm.get('expense')?.hasError('max')) {
                <mat-error>
                    Máximo 6 dígitos permitidos
                </mat-error>
            }
            </mat-form-field>
         
       
    
            <mat-form-field appearance="outline">
                <mat-label>Categoria:</mat-label>
                <mat-select formControlName="categoryId" >
                   @for (category of categories; track $index) {
                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                   }
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Detalle: </mat-label>
                <input matInput formControlName="detail"  />
            </mat-form-field>
         </div>
    </form>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close >Cancelar</button>
    @if (isUpdate === false) {
        <button mat-button  cdkFocusInitial (click)="onSaveExpense()">Guardar</button>
    }@else {
        <button mat-button  cdkFocusInitial (click)="onUpdateExpense()">Actualizar</button>
    }
    </mat-dialog-actions>
</div>
