mat-form-field{
    width: 100%;
}

mat-label{
    color: #8639e4;
}
mat-expansion-panel-header{
    display: flex;
    justify-content: space-between;
}

mat-accordion {
    background-color: #8939da;
}

button{
    background-color: #8639e4 !important;
}

.row p{
    font-size: 16px;
}
