
<div class="container-general">
    <!-- <div class="total-box">
        <span>22.000</span>
        <h3>Ingreso Total</h3>
    </div>
    <div class="total-box">
        <span>22.000</span>
        <h3>Gasto total</h3>
    </div>
    <div class="total-box">

    </div>
    <div class="total-box">

    </div>
    <div class="total-box">

    </div> -->
    <mat-grid-list [cols]="gridCols" [rowHeight]="rowHeight">
        <mat-grid-tile class="col-12 col-md-4">
            <div class="total-box">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="payments"></mat-icon>
                <span>$22.000</span>
                <h3>Sueldo total</h3>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="col-12 col-md-4">
            <div class="total-box">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="credit_card"></mat-icon>
                <span>$22.000</span>
                <h3>Gastos totales</h3>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="col-12 col-md-4">
            <div class="total-box">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="savings"></mat-icon>
                <span>$22.000</span>
                <h3>Ahorros</h3>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
    
</div>
