
<div class="container-general">
    <div class="container-title">
        <p>Categorias</p>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
    </div>
    <mat-divider></mat-divider>
    <mat-list role="list">
        <div class="category">
            <mat-list-item class="prueba" role="listitem">
                Gasolina
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                Restaurantes
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                Despensa
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                Juegos
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                Fiestas
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                Luz
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                prueba
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
        <div class="category">
            <mat-list-item role="listitem">
                prueba
            </mat-list-item>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
      </mat-list>

    
</div>

