<!-- <div class="navbar">
   <div class="menu">
    <p>Gastos</p>
    <p>afasfasf</p>
   </div>

   <div class="profile">
        <p>Rafael Borbon</p>
   </div>
</div> -->

<mat-toolbar class="navbar">
   <div class="profile">
      <!-- <button class="icon-profile" mat-mini-fab>
         <mat-icon>menu</mat-icon>
       </button> -->
       <div class="profile-menu">
         <button mat-mini-fab class="icon-profile" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
         </button>
         <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/dashboard/change-password']">Cambiar contraseña</button>
            <button (click)="onLogout()" mat-menu-item>Cerrar Sesion</button>
         </mat-menu>
      </div>
      <p>{{user()?.name | titlecase }} {{user()?.lastname | titlecase}}</p>
   </div>

   <div class="menu">
      <button  mat-raised-button [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active" >Inicio</button>
      <button [routerLink]="['/dashboard/expenses']" routerLinkActive="router-link-active" mat-raised-button>Gastos</button>
      <button [routerLink]="['/dashboard/salary']" routerLinkActive="router-link-active" mat-raised-button>Sueldo</button>
     </div>
  
 </mat-toolbar>
