
.navbar {
    background-color: #111827;
    align-items: center;
    display: flex;
    justify-content: space-between; 
    border-bottom: white 1px solid;
}

.menu {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.menu button {
    margin: 5px;
   
}

.menu p{
    margin: 0%;

    
}

.profile {
    display: flex;
    align-items: center;
}

.profile-menu{
    margin: 0px;
    padding: 0px;
    background-color: #111827;
}

.profile p{
    margin: 0%;
    margin-right: 10px;
    font-size: 18px;
    border-bottom: 1px solid #b0abd7;
    color: #b0abd7 !important;
}

.icon-profile{
    background-color: #b08fcf;
    color: #8639e4;
}

button{
    background-color: #111827 !important;
    color: white !important;
}

.router-link-active{
    border-bottom: #8639e4 solid 2px;
}

.mat-mdc-menu-content{
    background-color: red !important;
    padding: 0% !important;
}

@media (max-width: 576px) {
    .navbar{
        display: block;
        height: auto; 
    }

    .profile{
        justify-content: space-between;
    }

    .menu{
        justify-content: space-between;
        
    }

    .menu button {
        width: 100%;
    }
}