.expenses-header{
    display: block;
    align-items: center !important;
}

.second-button{
    margin-left: 10px;
}



.expenses-header mat-form-field{
    margin-right: 10px;
}


mat-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    font-weight: bold;
    font-size: 16px;
}

mat-card{
    background-color: #8939da;
}

button{
    background-color: #8939da !important;
}

@media (max-width: 576px) {
    .expenses-header {
        display: block;

    }

    .second-button{
        margin-top: 10px;
        margin-left: 0px;
    }

    .expenses-header mat-form-field{
        width: 100%;
        margin-bottom: 0px;
    }

    button{
        width: 100%;
        margin-top: 0px;
    }
}