<div class="container-general expenses-header">
        <mat-form-field appearance="outline">
        <mat-label>Seleccionar fecha</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="onDateChange()" [(ngModel)]="selectedDate">
        
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      
        <button mat-raised-button (click)="addExpense()">Registrar gasto</button>
        <button class="mt-2" mat-raised-button (click)="addCategory()">Agregar categoria</button>
      
</div>

@if (expenses.length > 0) {
    <div class="container-general mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="m-0">Total:</h3>
            <p class="m-0 price">${{totalExpense | number:'1.2-2'}}</p>
        </div>
    </div>
}
<div class="container-general mt-3">
   <div class="row">
    @for(expense of expenses; track $index){
    <div class="col-12 col-md-3 mb-2">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{expense.category.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <p class="m-0">{{expense.date}}</p>
                    <p class="m-0">{{expense.detail}}</p>
                </div>
                <p class="price">${{expense.expense | number:'1.2-2'}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="editExpense(expense.id)">Actualizar</button>
                <button mat-button>Eliminar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    } @empty {
        <p>Aun no hay registros de gastos para el día de hoy</p>
    }
   </div>
</div>
