<!-- 
<div class="limiter layout-container">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
  
            <router-outlet />
  
        </div>
    </div>
</div> -->


<div class="limiter layout-container">


  <div class="container-login100">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <router-outlet />
    </div>
  </div>

  <!-- Bottom decoration (opcional, puedes moverlo aquí si quieres que aparezca en todas las páginas) -->
  <div class="bottom-decoration">
    <div class="decoration-dots">
      <span class="dot dot-1"></span>
      <span class="dot dot-2"></span>
      <span class="dot dot-3"></span>
    </div>
  </div>
</div>
