.container-categories{
    background-color: #8939da;
    padding: 10px;
}

.category{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-title p {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 5px;
}

.container-title mat-icon{
    cursor: pointer;
}

.prueba{
    font-size: 10px !important;
   
}

.total-expense{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}